
.add-task{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
}
.add-task h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

} 
/* ----------CARD ------------ */
.chead{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}
.chead .task-inc{
    background-color: rgb(253, 114, 137) ;
    padding: 5px 10px;
    font-family: cursive;
    border-radius: 5px;
}
.chead .task-cmp{
    background-color: rgb(153, 248, 153);
     padding: 5px 10px;
    font-family: cursive;
    border-radius: 5px;
}
.card-footer button{
    margin-right :1rem ;
}
.card-container{
    display:flex;
    flex-direction: row;
    padding: 20px;
    flex-wrap: wrap;
}
.card{
    margin-left: 1rem;
}
/* ======= filter container ============ */
.filter-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0px;
} 
.filter-group select{
    margin-left: 20px;
    padding: 5px;
    border-radius: 5px;
}