.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    max-width: 1100px ;
    margin: 0rem auto -6rem;
    height:100vh;
}

.intro-text h1{
    font-size :3rem;
    margin-bottom: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.intro-text p {
    margin-bottom: 1.7rem;
}

.tagline1{
    color: #1a2e35;
}

.tagline2{
    color: rgb(141, 210, 253);
}

.btn{
    margin-top: 1rem;
    margin-right: 1rem;
    display: inline-block;
    padding: 0.8rem 1rem;
    border: none;
    font-size:1rem;
    border-radius: 4px;
    color: #fff;
    text-decoration: none;
}
.red{
    background-color: rgb(254, 74, 74);
}
.blue{
    background-color:rgb(141, 210, 253);
}
.blue:hover{
  background-color: rgb(141, 210, 224);
}
.red:hover{
    background-color: rgb(190, 0, 0);
}